# Ignore hidden files and directories
.*
# except the following files:
!/.clang-format
!/.clang-tidy
!/.gitignore

# Support environments that put the build directory inside the source directory
/build
